################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BankSystem/src/BankSystem/bin/Debug/netcoreapp1.0
/BankSystem/src/BankSystem/obj/Debug/netcoreapp1.0
/BankSystem/src/BankSystem.DAL/bin/Debug/netstandard1.6
/BankSystem/src/BankSystem.DAL/obj/Debug/netstandard1.6
/BankSystem/src/BankSystem.Security/bin/Debug/netstandard1.6
/BankSystem/src/BankSystem.Security/obj/Debug/netstandard1.6
/BankSystem/src/BankSystem.Service/bin/Debug/netstandard1.6
/BankSystem/src/BankSystem.Service/obj/Debug/netstandard1.6
/BankSystem/.vs
