@{
    ViewData["Title"] = "Locked out";
    Layout = "~/Views/Shared/_AllGreenLayout.cshtml";
}

<header>
    <h1 class="text-danger">Locked out.</h1>
    <p class="text-danger">This User has been locked out, please try again later.</p>
</header>
